@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  text-decoration: none !important;
}

h1,
h2,
h3,
h4 {
  margin: 0 !important;
}

.container {
  max-width: 1420px;
  width: 100%;
  margin: 20px auto;
  overflow: auto;
  min-height: 300px;
  padding: 10px;
  border-radius: 5px;
}
.wrapper {
  margin: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.btn {
  display: inline-block;
  background: #fff;
  color: #e74c3c;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
  font-family: inherit;

  &:focus {
    outline: none;
  }
  &:active {
    transform: scale(0.98);
  }
  &:hover {
    background-color: #e74c3c;
    transition: all 0.5s ease-in-out;
    color: #fff !important;
  }
}

.btn-block {
  display: block;
  width: 100%;
}
p {
  margin: 0 !important;
}

.add-form {
  border: 2px solid #e74c3c;
  max-width: 500px;
  width: 100%;
  padding: 20px;
  border-radius: 5px;

  .title {
    font-size: 25px;
    text-align: center;
    font-weight: 500;
    letter-spacing: 3px;
    color: #e74c3c;
  }

  .form-control {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    margin: 15px 0;

    label {
      font-size: 20px;
      color: #e74c3c;
    }
    input {
      padding: 10px 15px;
      outline: none;
      border: 2px solid #000;
      border-radius: 2px;
      font-size: 18px;
      transition: all 0.3s ease-in-out;

      &::placeholder {
        font-size: 18px;
      }
      &:focus {
        border: 2px solid #e74c3c;
      }
    }

    select {
      border: 2px solid #000;

      &:focus {
        border: 2px solid #e74c3c;
      }
    }
  }
}
